version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: ht_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: highload_db
    ports:
      - "5434:5432" 
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d highload_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data: